# ignore following files

.git
oil_database/.git

node_modules
*.swp
*.so
*.pyc
cy_*.c
*filescanner.c
*~
*.idea
*.ropeproject
*._.DS_Store
empty_BW_image.png
.DS_Store
.cache/
*.swn
*.swo

*.ipynb_checkpoints/

# ignore binaries generated during build
*.egg-info
py_gnome/build/**/*
py_gnome/gnome.utilities.egg-info/*
py_gnome/pyGnome.egg-info/*
py_gnome/gnome/pyGnome.egg-info/*

# ignore sphinx built docs
py_gnome/documentation/build/

# ignore ipython notebook checkpoint areas
.ipynb_checkpoints

.projectile
.coverage
.coverage
.vagrant

# ignore data directory on deployed website
web/gnome/webgnome/data

# ignore dowloaded sample data for tests
py_gnome/tests/unit_tests/sample_data/*
py_gnome/tests/unit_tests/dump/
py_gnome/foreground1.png
py_gnome/junk.txt
py_gnome/junk_large.txt
py_gnome/junk_tiny.txt
py_gnome/tests/unit_tests/test_utilities/test_file_tools/test.bna
py_gnome/tests/unit_tests/test_utilities/test_file_tools/test_bad.bna

# ignore generated and sample data for tests

py_gnome/tests/junk.txt
py_gnome/tests/junk_large.txt
py_gnome/tests/unit_tests/ElementType_6.json
py_gnome/tests/unit_tests/Emulsification_1.json
py_gnome/tests/unit_tests/Evaporation_0.json
py_gnome/tests/unit_tests/LongIslandSoundMap.BNA
py_gnome/tests/unit_tests/Model.json
py_gnome/tests/unit_tests/Model.zip
py_gnome/tests/unit_tests/Skim_2.json
py_gnome/tests/unit_tests/Spill_0.json
py_gnome/tests/unit_tests/Water_0.json
py_gnome/tests/unit_tests/Waves_3.json
py_gnome/tests/unit_tests/Wind_1.json
py_gnome/tests/unit_tests/Wind_1_data.WND
py_gnome/tests/unit_tests/junk.txt
py_gnome/tests/unit_tests/junk_conda_list.txt
py_gnome/tests/unit_tests/junk_large.txt
py_gnome/tests/unit_tests/test_environment/sample_data/3D_circular.nc
py_gnome/tests/unit_tests/test_environment/sample_data/currents/
py_gnome/tests/unit_tests/test_environment/sample_data/staggered_sine_channel.nc
py_gnome/tests/unit_tests/test_environment/sample_data/tri_ring.nc
py_gnome/tests/unit_tests/test_weatherers/ElementType_6.json
py_gnome/tests/unit_tests/test_weatherers/Emulsification_1.json
py_gnome/tests/unit_tests/test_weatherers/Evaporation_0.json
py_gnome/tests/unit_tests/test_weatherers/LongIslandSoundMap.BNA
py_gnome/tests/unit_tests/test_weatherers/Model.json
py_gnome/tests/unit_tests/test_weatherers/Model.zip
py_gnome/tests/unit_tests/test_weatherers/Skim_2.json
py_gnome/tests/unit_tests/test_weatherers/Spill_0.json
py_gnome/tests/unit_tests/test_weatherers/Water_0.json
py_gnome/tests/unit_tests/test_weatherers/Waves_3.json
py_gnome/tests/unit_tests/test_weatherers/Wind_1.json
py_gnome/tests/unit_tests/test_weatherers/Wind_1_data.WND

#ignore generated and downloaded files from scripts
py_gnome/scripts/arctic_avg2_0001_gnome.nc
py_gnome/scripts/arctic_avg2_0002_gnome.nc
py_gnome/scripts/script_animation_demo/images/
py_gnome/scripts/script_animation_demo/raster.bmp
py_gnome/scripts/script_boston/EbbTides.cur
py_gnome/scripts/script_boston/EbbTidesShio.txt
py_gnome/scripts/script_boston/MassBayMap.bna
py_gnome/scripts/script_boston/MassBaySewage.cur
py_gnome/scripts/script_boston/MerrimackMassCoast.cur
py_gnome/scripts/script_boston/MerrimackMassCoastOSSM.txt
py_gnome/scripts/script_boston/WAC10msNW.cur
py_gnome/scripts/script_boston/WAC10msSW.cur
py_gnome/scripts/script_boston/gnome_profile
py_gnome/scripts/script_boston/script_boston.kmz
py_gnome/scripts/script_boston/script_boston.nc
py_gnome/scripts/script_boston/script_boston_uncertain.nc
py_gnome/scripts/script_chesapeake_bay/ChesapeakeBay.bna
py_gnome/scripts/script_chesapeake_bay/ChesapeakeBay.dat
py_gnome/scripts/script_chesapeake_bay/ChesapeakeBay.nc
py_gnome/scripts/script_chesapeake_bay/script_chesapeake_bay.nc
py_gnome/scripts/script_chesapeake_bay/script_chesapeake_bay_uncertain.nc
py_gnome/scripts/script_columbia_river/COOPSu_CREOFS24.nc
py_gnome/scripts/script_columbia_river/COOPSu_CREOFS24.nc.dat
py_gnome/scripts/script_columbia_river/columbia_river.bna
py_gnome/scripts/script_delaware_bay/DelawareRiverMap.bna
py_gnome/scripts/script_delaware_bay/FloodTides.cur
py_gnome/scripts/script_delaware_bay/FloodTidesShio.txt
py_gnome/scripts/script_delaware_bay/NW30ktwinds.cur
py_gnome/scripts/script_delaware_bay/Offshore.cur
py_gnome/scripts/script_delaware_bay/SW30ktwinds.cur
py_gnome/scripts/script_delaware_bay/script_delaware_bay.nc
py_gnome/scripts/script_guam/GuamMap.bna
py_gnome/scripts/script_guam/OutsideWAC.cur
py_gnome/scripts/script_guam/WACFTideShioHts.txt
py_gnome/scripts/script_guam/WACFloodTide.cur
py_gnome/scripts/script_guam/script_guam.nc
py_gnome/scripts/script_guam_get_data_test/GuamMap.bna
py_gnome/scripts/script_guam_get_data_test/OutsideWAC.cur
py_gnome/scripts/script_guam_get_data_test/WACFTideShioHts.txt
py_gnome/scripts/script_guam_get_data_test/WACFloodTide.cur
py_gnome/scripts/script_guam_get_data_test/script_guam.nc
py_gnome/scripts/script_ice/ak_arctic.bna
py_gnome/scripts/script_ice/script_ice.nc
py_gnome/scripts/script_plume/images/
py_gnome/scripts/script_plume/script_plume.nc
py_gnome/scripts/script_tamoc/HYCOM_3d.nc
py_gnome/scripts/script_tamoc/HYCOM_3d.nc.dat
py_gnome/scripts/script_tamoc/Input/case_01
py_gnome/scripts/script_tamoc/KIKT.osm
py_gnome/scripts/script_tamoc/cat
py_gnome/scripts/script_tamoc/diff.txt
py_gnome/scripts/script_tamoc/gulf_tamoc.nc
py_gnome/scripts/script_tamoc/images/


# ignore generated oildb
oil_library/oil_library/OilLib.db
oil_library/temp.txt
*OilLibrary.db

py_gnome/scripts/*/images*/*.png
2d_test.nc
big_test.nc
chunking_test_results.csv
junk.bmp
junk_tiny.txt
JunkTiny.txt
test_image_arc.bmp
test_image_line.bmp
test_image_line_clip.bmp
test_image_pixel.bmp
test_image_poly1.bmp
test_image_poly2.bmp
test_image_poly3.bmp
test_image_polygon_clip.bmp
test_image_rectangle.bmp
test_image_save.bmp
test_image_save.gif
test_image_save.jpg
test_image_save.png
test_image_text.png
py_gnome/scripts/script_long_island/CLISShio.txt
py_gnome/scripts/script_long_island/LI_tidesWAC.CUR
py_gnome/scripts/script_long_island/LongIslandSoundMap.BNA
py_gnome/scripts/script_long_island/script_long_island.nc
py_gnome/scripts/script_long_island/script_long_island_uncertain.nc
py_gnome/scripts/script_long_island/images/LongIslandSoundMap_anim.gif
py_gnome/tests/unit_tests/test_outputters/temp_m0.nc
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000000.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000001.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000002.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000003.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000004.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000005.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000006.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000007.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000008.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000009.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000010.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000011.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000012.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000013.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000014.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000015.geojson
py_gnome/tests/unit_tests/test_outputters/output_geojson/geojson_000016.geojson
py_gnome/tests/unit_tests/test_outputters/output_kmz/multi_timesteps.kmz
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_exceptions_middle_of_run_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_exceptions_middle_of_run_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_exceptions_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_prepare_for_model_run_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_prepare_for_model_run_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_all_arrays_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_all_arrays_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_data_exception_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_data_exception_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_1-False_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_1-False_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_1-True_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_1-True_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_2.4-False_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_2.4-False_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_2.4-True_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_2.4-True_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_3-False_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_3-False_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_3-True_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_read_standard_arrays_3-True_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_run_without_spills_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_run_without_spills_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_serialize_deserialize_save_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_serialize_deserialize_webapi_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_write_output_all_data_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_write_output_all_data_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_write_output_post_run_1_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_write_output_post_run_1_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_write_output_post_run_2_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_write_output_post_run_2_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_write_output_standard_sample.nc
py_gnome/tests/unit_tests/test_outputters/output_netcdf_outputter/test_write_output_standard_sample_uncertain.nc
py_gnome/tests/unit_tests/test_outputters/output_renderer/basemap.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/basemap_bounds.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/elements1.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/elements2.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/foreground_00000.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/foreground_00001.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/just_elements.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/map_and_elements.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/raster_map_render.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/star_background.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/star_background_no_bound.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/star_lower_left.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/star_lower_right.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/star_upper_left.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/star_upper_right.png
py_gnome/tests/unit_tests/test_outputters/output_renderer/clear_test/background_map.png
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000000.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000001.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000002.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000003.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000004.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000005.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000006.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000007.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000008.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000009.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000010.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000011.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000012.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000013.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000014.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000015.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000016.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000017.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000018.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000019.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000020.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000021.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000022.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000023.json
py_gnome/tests/unit_tests/test_outputters/output_weathering_outputter/mass_balance_000024.json
py_gnome/tests/unit_tests/test_utilities/output_test_map_canvas/background.png
py_gnome/tests/unit_tests/test_utilities/output_test_map_canvas/copy_back_to_fore.png
py_gnome/tests/unit_tests/test_utilities/output_test_map_canvas/foreground.png
py_gnome/tests/unit_tests/test_utilities/output_test_map_canvas/foreground_polyline.png
py_gnome/tests/unit_tests/test_utilities/output_test_map_canvas/image_projection_equator.png
py_gnome/tests/unit_tests/test_utilities/output_test_map_canvas/image_projection_north.png
py_gnome/tests/unit_tests/test_utilities/output_test_map_canvas/image_projection_south.png
py_gnome/tests/unit_tests/test_environment/sample_data/currents/tbofs_example.nc
py_gnome/tests/unit_tests/test_outputters/output_shape/multi_timesteps.zip
py_gnome/tests/unit_tests/test_outputters/output_shape/multi_timesteps_uncert.zip

py_gnome/documentation/_build/
