# ignore following files
node_modules
*.swp
*.so
*.pyc
cy_*.c
*filescanner.c
*~
*.idea
*.ropeproject
*._.DS_Store
empty_BW_image.png
.DS_Store
.cache/

*.ipynb_checkpoints/

# ignore binaries generated during build
*.egg-info
py_gnome/build/**/*
py_gnome/gnome.utilities.egg-info/*
py_gnome/pyGnome.egg-info/*
py_gnome/gnome/pyGnome.egg-info/*

# ignore built documention in WebGNOME
web/gnome/webgnome/doc/_build/*

# ignore generated model data in WebGNOME
web/gnome/webgnome/webgnome/static/models/*
web/gnome/webgnome/webgnome/static/test_models/*
.projectile
.coverage
.coverage
.vagrant

# ignore data directory on deployed website
web/gnome/webgnome/data

# ignore dowloaded sample data for tests
py_gnome/tests/unit_tests/sample_data/*
py_gnome/tests/unit_tests/dump/
py_gnome/foreground1.png
py_gnome/junk.txt
py_gnome/junk_large.txt
py_gnome/junk_tiny.txt
py_gnome/tests/unit_tests/test_utilities/test_file_tools/test.bna
py_gnome/tests/unit_tests/test_utilities/test_file_tools/test_bad.bna

# ignore generated oildb
oil_library/oil_library/OilLib.db
oil_library/temp.txt
*OilLibrary.db

py_gnome/scripts/*/images*/*.png
