# ignore following files
.cproject
.project
node_modules
*.swp
*.so
*.pyc
*~
*.idea
*.ropeproject

# ignore binaries generated during build 
py_gnome/build/**/*
py_gnome/gnome.utilities.egg-info/*
py_gnome/pyGnome.egg-info/*
py_gnome/gnome/pyGnome.egg-info/*
