# Documents the conda packages required for PyGnome
#  this covers py_gnome and the oil_library
#  This should be the minimal conda install
#  install with:
#  conda install --file conda_requirements.txt
# These packages would all be in one of the following channels:
# defaults
# conda-forge
# NOAA-ORR-ERD

python=2.7.*
setuptools>=23.0
numpy=1.11.*
scipy>=0.18.*
gsw=3.0.3
psutil>=4.3
progressbar>=2.3
pyzmq>=16
six>=1.10
geojson>=1.3
repoze.lru>=0.6
colander>=1.2
sqlalchemy>=0.7.6
zope.interface>=4.1
zope.sqlalchemy>=0.7.6
hdf5=1.8.*
netCDF4=1.2.7
gdal>=2.1.1
awesome-slugify>=1.6
regex>=2014.12
unidecode>=0.04.19
pyshp>=1.2
pyugrid>=0.2.2
pysgrid>=0.3.3

# NOAA maintained packages
unit_conversion=2.5.5
cell_tree2d>=0.3.0
py_gd>=0.1.5 # libgd should get brought in automatically

# required for building
cython=0.24.1

# nice to have for development, not required to run
pytest
testfixtures
matplotlib
sphinx
ipython

