# Extra requirements useful for development
# not required to build or run PyGNOME

# needed to run tests
pytest
pytest-cov
pytest-timeout
testfixtures

# nice to have for development, not required to run
matplotlib
ipython
notebook # this gets you Jupyter notebook without all the QT stuff

# required to build docs
sphinx
sphinx_rtd_theme
nbsphinx
sphinx-autoapi


