#requirements file for the oil_library package.

## note -- this duplicates what's in setup.py -- not good.
#  we should get rid of one or the other.
#
# There is discussion of that here:
#  https://caremad.io/2013/07/setup-vs-requirement/
#  but I'm not sure how this plays with conda...

SQLAlchemy
zope.sqlalchemy
awesome-slugify
pytest
repoze.lru
numpy
git+https://github.com/NOAA-ORR-ERD/PyNUCOS.git#egg=unit_conversion


