# these paths are created when you create a python virtualenv
# over the web/gnome path
# A leading slash indicates that the ignore entry is only valid
# with respect to the directory in which the .gitignore file resides.
/include
/man
/bin
/lib
/.Python
OilLibrary.db

# Directories that hold app-generated content.
webgnome/webgnome/static/uploads/*
webgnome/webgnome/static/img/model_images/*
