html, body {
    height: 100%;
}

.navbar {
    margin-bottom: 0;
}

.navbar ul.dropdown-menu,
.navbar li.dropdown-submenu {
    z-index: 2000;
}

div.nav-collapse > div.btn-toolbar {
    margin: 0;
}

.navbar .nav {
    margin-right: 40px;
}

#sidebar {
    min-width: 175px;
    border-right: solid 1px #D4D4D4;
    width: 20%;
    float: left;
    position: relative;
    top: 0;
}

#sidebar-container {
    padding-top: 15px;
}

.inner-wrapper {
    height: 100%;
}

#content {
    padding-top: 15px;
}

.caption {
    float: right;
    clear: left;
    font-size: .8em;
    font-style: italic;
}

footer {
    text-align: center;
    font-size: 10px;
}

.hidden {
    display: none;
}

/* Responsive fixes - different sizes */

@media (max-width: 767px) {
    #sidebar {
        height: auto;
        max-height: 300px;
        width: 100%;
    }

    .inner-wrapper {
        height: auto;
    }
}

@media (max-width: 979px) {
    #content, #sidebar {
        padding-top: 0;
    }
}


/* Forms */

select, textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    padding: 1px;
    height: 17px;

}

input[type="text"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input {
    color: black;
    font-size: 13px;
}

.form-horizontal .control-group {
    margin: 1px 0 1px 0;
}

.form-horizontal .controls,
.form-horizontal .controls:first-child {
    margin-left: 120px;
}

.form-horizontal .control-label {
    width: 100px;
    padding-top: 0;
}

.form-inline label {
    padding-right: 5px;
    padding-left: 5px;
}

.form-inline .checkbox {
    padding-left: 5px;
}

.form-inline .checkbox {
    margin-bottom: 1px;
}

select, input[type="file"] {
    height: 25px;
}

.input-extra-small {
    width: 50px;
}

.help-inline {
    padding-top: 4px;
}

.modal-header h3 {
    display: inline;
}

.ui-dialog-buttonset .ui-button:nth-child(2) {
    color: #ffffff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-dialog-buttonset .ui-button:last-child {
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    overflow: visible;
}


/* Always show scrollbars in OS X Lion */

/*::-webkit-scrollbar {*/
    /*-webkit-appearance: none;*/
    /*width: 5px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
    /*border-radius: 4px;*/
    /*background-color: rgba(0, 0, 0, .5);*/
    /*-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);*/
/*}*/