ul.dynatree-container {
    border: none;
}

.dynatree-ico-cf span.dynatree-icon  /* Collapsed Folder */
{
    background-image: none;
}

.dynatree-ico-ef span.dynatree-icon  /* Expanded Folder */
{
    background-image: none;
}

#slider-container {
    width: 158px;
    cursor: default;
    color: #333;
    opacity: 1;
    background-color: whiteSmoke;
}

#slider {
    width: 150px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 10px;
    position: absolute;
    left: 2px;
    top: 15px;
    padding-top: 0;
}

#slider-shaded {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: gray;
}

#main-content {
    margin-left: 10px;
}

.ui-slider .ui-slider-handle {
    height: 1em;
}

.sidebar-toolbar {
    display: inline;
}

#time {
    position: relative;
    top: -5px;
    vertical-align: top;
    padding: 0;
    margin:0;
    font-size: 9px;
}

.zooming-in {
    cursor: url(/static/img/zoom_in.cur), auto;
}

.zooming-out {
    cursor: url(/static/img/zoom_out.cur), auto;
}

.regular {
    cursor: default;
}

legend {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 20px;
}

#map {
    position: relative;
}

#map img {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    display: inline-block;
}

.drawable {
    z-index: 1025;
    position: absolute;
    top: 0;
    left: 0;
}

.frame {
    z-index: 1000;
    position: relative;
}

.background {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.alert {
    max-width: 700px;
}

.add-time-forms {
    margin-right: 5px;
}

.edit-time-forms th {
    padding: 0 8px 8px 8px;
}

.auto_increment_by {
    width: 40px;
}

.direction_degrees {
    width: 100px;
}

.speed {
    width: 80px;
}

.coordinate {
    width: 62px;
}

.speed_type {
    width: 120px;
}

.hour,
.minute {
    width: 20px;
}

.edit-mover-name {
    padding: 0 0 0 10px;
}

.compass-container {
    position: relative;
    margin-top: 10px;
}

.variable-wind .compass-container {
    margin-left: 100px;
    margin-bottom: 10px;
}

.compass {
    width: 210px;
    height: 210px;
    position: relative;
}

.model-settings .control-label {
    width: 150px;
}

.model-settings .controls {
    margin-left: 170px;
}

.table tbody tr.info td {
    background-color: #B5DAEC;
}

.wind-values {
    overflow: scroll;
    max-height: 400px;
}

.wind form {
    margin-bottom: 0;
}

.units {
    width: 120px;
}

#map_canvas {
    height: 500px;
    width: 700px;
}

.nws-map-canvas {
    height: 100%;
    width: 100%;
}

.modal-body {
    max-height: 800px;
}

.form.wind .span4 {
    width: 370px;
}

.show-compass {
    color: blue!important;
}

.wind-mover-nav {
    margin-left: 70px;
    margin-bottom: 20px;
}

.wind-mover-header {
    margin-top: 10px;
    margin-bottom: 15px;
}

.icon-warning-sign.error {
    color: red;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
}

/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
    background-image: none;
}

body .ui-tooltip {
    border-width: 2px;
}