ul.dynatree-container {
    border: none;
}

.dynatree-ico-cf span.dynatree-icon  /* Collapsed Folder */
{
    background-image: none;
}

.dynatree-ico-ef span.dynatree-icon  /* Expanded Folder */
{
    background-image: none;
}

#slider-container {
    width: 188px;
    cursor: default;
    color: #333;
    opacity: 1;
    background-color: whiteSmoke;
}

#slider {
    width: 150px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 10px;
    position: absolute;
    left: 2px;
    top: 15px;
    padding-top: 0;
}

#slider-shaded {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: gray;
}

#main-content {
    margin-left: 10px;
}

.ui-slider .ui-slider-handle {
    height: 1em;
}

.sidebar-toolbar {
    display: inline;
}

#tree {
    /*overflow: scroll;*/
    max-height: 100%;
}

#time {
    position: relative;
    top: -5px;
    vertical-align: top;
    padding: 0;
    margin:0;
    font-size: 9px;
}

.zooming-in-cursor {
    cursor: url(/static/img/zoom_in.cur), auto;
}

.zooming-out-cursor {
    cursor: url(/static/img/zoom_out.cur), auto;
}

.moving-cursor {
    cursor: move;
}

.regular-cursor {
    cursor: default;
}

.spill-cursor {
    cursor: crosshair;
}

legend {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 20px;
}

#viewport {
    overflow: hidden;
}

#map {
    position: relative;
}

#map img {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    display: inline-block;
}

#leaflet-map {
    width: 100%;
}

.drawable-foreground {
    z-index: 1025;
    position: absolute;
    top: 0;
    left: 0;
}

.drawable-background {
    z-index: 1020;
    position: absolute;
    top: 0;
    left: 0;
}

.frame {
    z-index: 1000;
    position: relative;
}

.background {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1000%;
}

.alert {
    max-width: 700px;
}

.add-time-forms {
    margin-right: 5px;
}

.edit-time-forms {
    overflow: auto;
}

.edit-time-forms th {
    padding: 0 8px 8px 8px;
}

.auto_increment_by {
    width: 40px;
}

.direction_degrees {
    width: 100px;
}

.direction,
.speed {
    width: 80px;
}

.coordinate {
    width: 62px;
}

.speed_type {
    width: 120px;
}

.hour,
.minute {
    width: 20px;
}

.edit-mover-name {
    padding: 0 0 0 10px;
}

.compass-container {
    position: relative;
    margin-top: 10px;
}

.variable-wind .compass-container {
    margin-left: 100px;
    margin-bottom: 10px;
}

.compass {
    width: 210px;
    height: 210px;
    position: relative;
}

.model-settings .control-label {
    width: 150px;
}

.model-settings .controls {
    margin-left: 170px;
}

.control-group.form-inline {
    display: inline-block;
}

.table tbody tr.info td {
    background-color: #B5DAEC;
}

.wind-values {
    max-height: 280px;
}

.wind-mover .wind-values {
    margin-top: 15px;
}

.wind-mover .wind-header {
    padding-left: 20px;
}

.wind form {
    margin-bottom: 0;
}

.units {
    width: 120px;
}

#map_canvas img, .nws-map-canvas img {
    max-width: none !important;
}

#map_canvas {
    height: 500px;
    width: 700px;
}

.nws-map-canvas {
    height: 300px;
    width: 300px;
}

.modal-body {
    max-height: 800px;
}

.form.wind .span4 {
    width: 370px;
}

.show-compass {
    color: blue!important;
}

.wind-mover-nav {
    margin-left: 70px;
    margin-bottom: 20px;
}

.wind-mover-header {
    margin-top: 10px;
    margin-bottom: 15px;
}

.wind-mover .nav-tabs {
    margin-bottom: 10px;
}

.icon-warning-sign.error {
    color: red;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
}

/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
    background-image: none;
}

body .ui-tooltip {
    border-width: 2px;
}

#description {
 width: 130px;
 height: 50px;
}

table.time-list td {
    padding: 2px;
}

#custom-map {
    width: 325px;
    height: 310px;
}

.map-resolution {
    width: 110px;
}

form .required label:after {
    color: #e32;
    content: '*';
    display: inline;
}

input.required {
    border: 2px solid red;
}

.placeholder {
    background-image: url('/static/img/placeholder.gif');
}


/* Responsive fixes */

@media (max-width: 767px) {
    #tree {
        height: auto;
        max-height: 250px;
        width: 100%;
        border-right: 0;
    }

    #main-content {
        padding-top: 25px;
    }

}

@media (max-width: 979px) {
    /* Placeholder */
}

.leaflet-label {
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    display: block;
    padding: 3px 5px;
    position: absolute;
    white-space: nowrap;
    margin-top: 37px;
}

a.open-spill {
    color: white;
}

