requests
lxml
pytz
python-dateutil==2.1
WebHelpers2
python-cjson==1.0.5
pyramid==1.4a1
nose==1.2.1
WTForms==1.0.2
waitress==0.8.1
Sphinx==1.1.3
Fabric==1.4.3
WebTest==1.4.0
repoze.profile==1.4
beautifulsoup4==4.1.3
coverage

git+https://github.com/abrookins/hammer.git@0.1.1#egg=hammer
git+https://github.com/abrookins/cornice.git@fixes#egg=cornice

