

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Examples &mdash; pyGNOME 0.6.0 documentation</title>
  

  
  
  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../genindex.html"/>
        <link rel="search" title="Search" href="../search.html"/>
    <link rel="top" title="pyGNOME 0.6.0 documentation" href="../index.html"/> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> pyGNOME
          

          
          </a>

          
            
            
              <div class="version">
                0.6
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../introduction.html">Introduction</a></li>
<li class="toctree-l1"><a class="reference internal" href="../installing.html">Installing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../structure.html">GNOME Structure</a></li>
<li class="toctree-l1"><a class="reference internal" href="../scripting.html">Scripting pygnome</a></li>
<li class="toctree-l1"><a class="reference internal" href="../env_obj.html">Using your data</a></li>
<li class="toctree-l1"><a class="reference internal" href="../customizing.html">Customizing pygnome</a></li>
<li class="toctree-l1"><a class="reference internal" href="../logging.html">The logging system</a></li>
<li class="toctree-l1"><a class="reference internal" href="../serialization.html">Notes on serialization / deserialization:</a></li>
<li class="toctree-l1"><a class="reference internal" href="../units.html">Units used in GNOME / PyGNOME</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference.html">PyGnome Class Reference</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">pyGNOME</a>
        
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html">Docs</a> &raquo;</li>
        
      <li>Examples</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/env_obj/env_obj_examples.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  
<style>
/* CSS overrides for sphinx_rtd_theme */

/* 24px margin */
.nbinput.nblast,
.nboutput.nblast {
    margin-bottom: 19px;  /* padding has already 5px */
}

/* ... except between code cells! */
.nblast + .nbinput {
    margin-top: -19px;
}

/* nice headers on first paragraph of info/warning boxes */
.admonition .first {
    margin: -12px;
    padding: 6px 12px;
    margin-bottom: 12px;
    color: #fff;
    line-height: 1;
    display: block;
}
.admonition.warning .first {
    background: #f0b37e;
}
.admonition.note .first {
    background: #6ab0de;
}
.admonition > p:before {
    margin-right: 4px;  /* make room for the exclamation icon */
}
</style>
<div class="section" id="examples">
<h1>Examples<a class="headerlink" href="#examples" title="Permalink to this headline">¶</a></h1>
<p>Create GridCurrent from a netCDF file.:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">numpy</span> <span class="k">as</span> <span class="nn">np</span>
<span class="kn">import</span> <span class="nn">netCDF4</span> <span class="k">as</span> <span class="nn">nc4</span>
<span class="kn">from</span> <span class="nn">datetime</span> <span class="k">import</span> <span class="n">datetime</span><span class="p">,</span> <span class="n">timedelta</span>
<span class="kn">from</span> <span class="nn">gnome.environment</span> <span class="k">import</span> <span class="n">GridCurrent</span>

<span class="n">fn</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;my_current_file.nc&#39;</span><span class="p">)</span>
<span class="n">current</span> <span class="o">=</span> <span class="n">GridCurrent</span><span class="o">.</span><span class="n">from_netCDF</span><span class="p">(</span><span class="n">filename</span> <span class="o">=</span> <span class="n">fn</span><span class="p">)</span>
</pre></div>
</div>
<p>Create GridCurrent from a netCDF file, and specify grid topology.:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="n">current</span> <span class="o">=</span> <span class="n">GridCurrent</span><span class="o">.</span><span class="n">from_netCDF</span><span class="p">(</span><span class="n">filename</span><span class="o">=</span><span class="n">fn</span><span class="p">,</span>
                                  <span class="n">grid_topology</span><span class="o">=</span><span class="p">{</span><span class="s1">&#39;node_lon&#39;</span><span class="p">:</span><span class="s1">&#39;lon&#39;</span><span class="p">,</span>
                                                 <span class="s1">&#39;node_lat&#39;</span><span class="p">:</span><span class="s1">&#39;lat&#39;</span><span class="p">}</span>
                                  <span class="p">)</span>
</pre></div>
</div>
<p>Again, this time specifying variable names as well.:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="n">current</span> <span class="o">=</span> <span class="n">GridCurrent</span><span class="o">.</span><span class="n">from_netCDF</span><span class="p">(</span><span class="n">filename</span><span class="o">=</span><span class="n">fn</span><span class="p">,</span>
                                  <span class="n">grid_topology</span><span class="o">=</span><span class="p">{</span><span class="s1">&#39;node_lon&#39;</span><span class="p">:</span><span class="s1">&#39;lon&#39;</span><span class="p">,</span>
                                                 <span class="s1">&#39;node_lat&#39;</span><span class="p">:</span><span class="s1">&#39;lat&#39;</span><span class="p">},</span>
                                  <span class="n">varnames</span><span class="o">=</span><span class="p">[</span><span class="s1">&#39;water_u&#39;</span><span class="p">,</span> <span class="s1">&#39;water_v&#39;</span><span class="p">]</span>
                                  <span class="p">)</span>
</pre></div>
</div>
<p>One major advantage to environment objects is re-use of common attributes. For example, in a data file you have a grid, and
wind and current variables that are associated with the grid.</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="n">current</span> <span class="o">=</span> <span class="n">GridCurrent</span><span class="o">.</span><span class="n">from_netCDF</span><span class="p">(</span><span class="n">filename</span> <span class="o">=</span> <span class="n">fn</span><span class="p">)</span>
<span class="n">wind</span> <span class="o">=</span> <span class="n">GridWind</span><span class="o">.</span><span class="n">from_netCDF</span><span class="p">(</span><span class="n">filename</span> <span class="o">=</span> <span class="n">fn</span><span class="p">,</span>
                            <span class="n">grid</span> <span class="o">=</span> <span class="n">current</span><span class="o">.</span><span class="n">grid</span><span class="p">)</span>
</pre></div>
</div>
<p>In the above example, the current and wind now both share the same grid object, which has numerous performance benefits. This is
one of the most common cases of sharing between Environment objects.</p>
<p>You can create an environment out of an already open dataset as well. This may help alleviate ‘too many files’ problems when working
with large numbers of files:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="n">df</span> <span class="o">=</span> <span class="n">netCDF4</span><span class="o">.</span><span class="n">Dataset</span><span class="p">(</span><span class="n">fn</span><span class="p">)</span>
<span class="n">current</span> <span class="o">=</span> <span class="n">GridCurrent</span><span class="o">.</span><span class="n">from_netCDF</span><span class="p">(</span><span class="n">dataset</span><span class="o">=</span><span class="n">df</span><span class="p">)</span>
</pre></div>
</div>
<p>You can also set up an environment object from scratch, which can be very useful when mocking up a situation. The following code creates
a GridCurrent representing circular currents around the origin.:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="c1">#create the rectangular grid</span>
<span class="n">x</span><span class="p">,</span> <span class="n">y</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">mgrid</span><span class="p">[</span><span class="o">-</span><span class="mi">30</span><span class="p">:</span><span class="mi">30</span><span class="p">:</span><span class="mi">61</span><span class="n">j</span><span class="p">,</span> <span class="o">-</span><span class="mi">30</span><span class="p">:</span><span class="mi">30</span><span class="p">:</span><span class="mi">61</span><span class="n">j</span><span class="p">]</span>
<span class="n">y</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">ascontiguousarray</span><span class="p">(</span><span class="n">y</span><span class="o">.</span><span class="n">T</span><span class="p">)</span>
<span class="n">x</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">ascontiguousarray</span><span class="p">(</span><span class="n">x</span><span class="o">.</span><span class="n">T</span><span class="p">)</span>
<span class="n">g</span> <span class="o">=</span> <span class="n">SGrid</span><span class="p">(</span><span class="n">node_lon</span><span class="o">=</span><span class="n">x</span><span class="p">,</span>
          <span class="n">node_lat</span><span class="o">=</span><span class="n">y</span><span class="p">)</span>
<span class="n">g</span><span class="o">.</span><span class="n">build_celltree</span><span class="p">()</span>

<span class="c1">#using a single time implies extrapolation</span>
<span class="n">t</span> <span class="o">=</span> <span class="n">datetime</span><span class="p">(</span><span class="mi">2000</span><span class="p">,</span><span class="mi">1</span><span class="p">,</span><span class="mi">1</span><span class="p">,</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">)</span>

<span class="c1">#create the data associated with each grid vertex</span>
<span class="n">angs</span> <span class="o">=</span> <span class="o">-</span><span class="n">np</span><span class="o">.</span><span class="n">arctan2</span><span class="p">(</span><span class="n">y</span><span class="p">,</span><span class="n">x</span><span class="p">)</span>
<span class="n">mag</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">sqrt</span><span class="p">(</span><span class="n">x</span><span class="o">**</span><span class="mi">2</span> <span class="o">+</span> <span class="n">y</span><span class="o">**</span><span class="mi">2</span><span class="p">)</span>
<span class="n">vx</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">cos</span><span class="p">(</span><span class="n">angs</span><span class="p">)</span> <span class="o">*</span> <span class="n">mag</span>
<span class="n">vy</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">sin</span><span class="p">(</span><span class="n">angs</span><span class="p">)</span> <span class="o">*</span> <span class="n">mag</span>
<span class="n">vx</span> <span class="o">=</span> <span class="n">vx</span><span class="p">[</span><span class="n">np</span><span class="o">.</span><span class="n">newaxis</span><span class="p">,:]</span> <span class="o">*</span> <span class="mi">20</span>
<span class="n">vy</span> <span class="o">=</span> <span class="n">vy</span><span class="p">[</span><span class="n">np</span><span class="o">.</span><span class="n">newaxis</span><span class="p">,:]</span> <span class="o">*</span> <span class="mi">20</span>

<span class="c1">#Create environment objects for the components separately, then combine into a GridCurrent</span>
<span class="n">vels_x</span> <span class="o">=</span> <span class="n">GriddedProp</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;v_x&#39;</span><span class="p">,</span><span class="n">units</span><span class="o">=</span><span class="s1">&#39;m/s&#39;</span><span class="p">,</span><span class="n">time</span><span class="o">=</span><span class="p">[</span><span class="n">t</span><span class="p">],</span> <span class="n">grid</span><span class="o">=</span><span class="n">g</span><span class="p">,</span> <span class="n">data</span><span class="o">=</span><span class="n">vx</span><span class="p">)</span>
<span class="n">vels_y</span> <span class="o">=</span> <span class="n">GriddedProp</span><span class="p">(</span><span class="n">name</span><span class="o">=</span><span class="s1">&#39;v_y&#39;</span><span class="p">,</span><span class="n">units</span><span class="o">=</span><span class="s1">&#39;m/s&#39;</span><span class="p">,</span><span class="n">time</span><span class="o">=</span><span class="p">[</span><span class="n">t</span><span class="p">],</span> <span class="n">grid</span><span class="o">=</span><span class="n">g</span><span class="p">,</span> <span class="n">data</span><span class="o">=</span><span class="n">vy</span><span class="p">)</span>
<span class="n">vg</span> <span class="o">=</span> <span class="n">GridCurrent</span><span class="p">(</span><span class="n">variables</span> <span class="o">=</span> <span class="p">[</span><span class="n">vels_y</span><span class="p">,</span> <span class="n">vels_x</span><span class="p">],</span> <span class="n">time</span><span class="o">=</span><span class="p">[</span><span class="n">t</span><span class="p">],</span> <span class="n">grid</span><span class="o">=</span><span class="n">g</span><span class="p">,</span> <span class="n">units</span><span class="o">=</span><span class="s1">&#39;m/s&#39;</span><span class="p">)</span>
</pre></div>
</div>
<div class="section" id="defining-a-new-environment-object">
<h2>Defining a new environment object<a class="headerlink" href="#defining-a-new-environment-object" title="Permalink to this headline">¶</a></h2>
<p>To create a new environment object, let us take the example of water temperature.</p>
<ol class="arabic simple">
<li>It is scalar, so it would inherit from a scalar-type environment object</li>
<li>In this example, it is gridded. So our base class is a GriddedProp.</li>
<li>We have a number of data files where the default names could be ‘water_t’ or ‘temp’, and we want to write them in to be auto-detected.</li>
</ol>
<p>Here is the class definition:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">WaterTemperature</span><span class="p">(</span><span class="n">GriddedProp</span><span class="p">):</span>
    <span class="n">default_names</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;water_t&#39;</span><span class="p">,</span> <span class="s1">&#39;temp&#39;</span><span class="p">]</span>
</pre></div>
</div>
<p>That’s it! Now, you can do the following in your scripts:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">gnome.environment.environment_objects</span> <span class="k">import</span> <span class="n">WaterTemperature</span>

<span class="n">point</span> <span class="o">=</span> <span class="p">[</span><span class="mf">50.3</span><span class="p">,</span> <span class="mf">40.2</span><span class="p">]</span>
<span class="n">fn</span> <span class="o">=</span> <span class="s1">&#39;my_datafile.nc&#39;</span>
<span class="n">temp</span> <span class="o">=</span> <span class="n">WaterTemperature</span><span class="o">.</span><span class="n">from_netCDF</span><span class="p">(</span><span class="n">filename</span><span class="o">=</span><span class="n">fn</span><span class="p">)</span>
<span class="n">first_temp_at_point</span> <span class="o">=</span> <span class="n">temp</span><span class="o">.</span><span class="n">at</span><span class="p">(</span><span class="n">point</span><span class="p">,</span> <span class="n">temp</span><span class="o">.</span><span class="n">time</span><span class="o">.</span><span class="n">min_time</span><span class="p">)</span>
</pre></div>
</div>
<p>Lets do a more advanced example.</p>
</div>
</div>


           </div>
           <div class="articleComments">
            
           </div>
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2012, NOAA Emergecny Response Division.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'0.6.0',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>