# Required to build PyGNOME
# NOTE: you also need a compiler set up to build Python extensions

cython=3.*
setuptools>=62  # older versions uses different build dirs
setuptools-scm>=6.2
gitpython
python-build
cmake
ninja
scikit-build-core>=0.7.*
