# PyGnome
setuptools
numpy>=1.7.0   
Cython>=0.17.1
Pyrex>=0.9.8.6
pytest>=2.3.4
sphinx
progressbar

# requires netcdf-4 binaries to be correctly installed
netCDF4 

# requires binary packages
PIL>=1.1.7

git+https://github.com/NOAA-ORR-ERD/hazpy.unit_conversion.git#egg=hazpy.unit_conversion

# Use specified commit 
# git+https://github.com/Pylons/colander.git@5816554a6f0c0f025922dd03d1518de361a9f0ed#egg=colander-dev
# Latest colander is working with py_gnome
git+https://github.com/Pylons/colander.git#egg=colander

# Oil Library database
pyramid
sqlalchemy
transaction
zope.sqlalchemy
