name: Run tests with miniforge
on: [push]

jobs:
  test:
    name: Test ${{ matrix.os }} Py${{ matrix.pyver }}
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
            # macos-13 to get Intel
            os: ["ubuntu-latest", "windows-latest", "macos-13", "macos-latest"]
            pyver: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: test
          miniforge-version: latest
          # environment-file: environment.yml
          python-version: ${{ matrix.pyver }}
          auto-activate-base: false
          conda-remove-defaults: true

      - name: Setup environment
        shell: bash -l {0}
        run: |
            cd ./py_gnome
            echo "Setting up conda environment"
            conda install -y python=${{ matrix.pyver }}  \
                             --file conda_requirements.txt \
                             --file conda_requirements_build.txt \
                             --file conda_requirements_test.txt \
      - name: Build Our Packages
        shell: bash -l {0}
        run: |
            cd ./py_gnome
            python -m pip install --no-build-isolation -vv ./
      - name: Run pytest
        shell: bash -l {0}
        run: |
            cd ./py_gnome/tests/unit_tests
            pytest --runslow

  lint:
    name: Flake8 linting
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: test
          miniforge-version: latest
          python-version: 3.9
          auto-activate-base: false
          conda-remove-defaults: true
      - name: Lint
        shell: bash -l {0}
        run: |
            conda install flake8
            python -m flake8  --exit-zero --statistics py_gnome/gnome/
